@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-underline: none;
  list-style: none;

}

.header-top {
  display: flex;
  height: 50px;
  background: var(--color-base);
  -webkit-backdrop-filter: blur(48px);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, .5);
  border: 2px solid var(--color-bordas);

  .container {
    display: flex;
    align-items: center;
    width: 1240px;
    margin: 0 auto;
    justify-content: space-between;

    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      width: 100px;
      padding: 2px 8px;

      a {
        display: flex;
        align-items: center;

        img {
          transition: all .3s ease;
          border-radius: 50%;
        }

        & img:hover {
          transform: scale(1.1);
          box-shadow: 0 1px 3px #000000;
        }
      }
    }

    .welcome {
      display: flex;
      align-items: center;
      margin-right: 86px;
      color: var(--color-black);

      .text-welcome {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .menu-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      border: 1px solid #000000BF;
      box-shadow: inset 0 0 9px 2px #000000BF;
      width: 24px;
      height: 24px;
      content: '';
      transition: all 0.1s ease-in-out;

      @media (max-width: 768px) {
        display: none;
      }

      &:hover {
        box-shadow: inset 0 0 4px 2px #000000BF;
      }

      &:active {
        box-shadow: inset 0 0 14px 2px #000000;
      }

      img {
        filter: invert(1);
      }
    }
  }
}


section {
  height: 100%;
  width: 1240px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 92%;
  }

  .presentation {
    opacity: 0;
    transition: all .8s ease;
    padding: 20px 0;

    &.active {
      opacity: 1;
    }

    .info-introduction {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 0 auto;
      flex-direction: column;
      height: 100%;
      width: 40%;
      border-top: 30px solid var(--color-black);
      border-radius: 13px 13px 0 0;
      color: var(--color-black);
      background-color: var(--color-base);

      #hello {
        margin: -5px 0;
        animation: show 3s linear;
      }

      #name {
        margin: 10px 0;
        animation: show 3s linear;
      }

      #job {
        margin: -5px 0;
        animation: show 3s linear;
        background: #fff;
        color: var(--color-black);
        width: 100%;
        text-align: center;
        border-radius: 5px;
        transition: all 0.5s;
      }

      #start-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-black);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 10px 0;
        padding-left: 3px;
      }
    }
  }

  .git-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    opacity: 0;
    transition: all 0.5s;

    &.active {
      opacity: 1;
    }

    .git-top {
      padding: 10px 20px;
      background: #4d4d4f;
      width: 600px;
      height: 12px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .button-1 {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: #ed1c6f;
      }

      .button-2 {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: #e8e925;
      }

      .button-3 {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: #74c54f;
      }
    }

    .git-content {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 640px;
      height: 300px;
      background: #3e3e3e;
      border-radius: 0 0 15px 15px;

      .image-container {
        position: relative;


        .profile-picture {
          margin-top: 20px;
          border-radius: 50%;
          border: 1px solid #fff;
        }

        .github {
          position: absolute;
          bottom: 30%;
          right: 4%;
          background-color: #fff;
          border: 1px solid #fff;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          transition: all 0.5s;

          &:hover {
            transform: scale(1.1);
            filter: invert(1);
          }
        }
      }
    }

    .languages-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px 0 0;
      background: #3e3e3e;
      transition: all 0.3s;
    }

    .text-apresentation {
      margin: 60px 5px 0;
      max-width: 400px;
      color: #fff;
    }
  }


  .more:hover {
    transform: scale(1.1);
  }

  .more {
    position: absolute;
    bottom: 10%;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #3e3e3e;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: default;
  }


}
