#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.parallax {
  perspective: 4000px;
}

.parallax__wrapper {
  transform-style: preserve-3d;
  transform: translateZ(0);
  will-change: transform;
}
